*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #698269;
}
.jokeContainer{
  width: 400px;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 2.5rem;
  color: rgb(212, 198, 198);
}
.sticker{
  font-size: 3rem;
}
.jokeText{
  letter-spacing: 1;
  word-wrap: break-word;
  text-align: center;
}
.jokebtn{
  cursor: pointer;
  background-color: #F1DBBF;
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-weight: 400;
  text-emphasis: strong;
  text-transform: capitalize;
}